**Run this Jupyter Notebook**
- Run this Notebook via [**Google Colab Platform**](https://colab.research.google.com/github/mhmaem/python_university/blob/master/01_python_beginner_interactive_cheatsheets/01_02_operators.ipynb)
- Download this [**Notebook**](https://github.com/mhmaem/python_university/blob/master/01_python_beginner_interactive_cheatsheets/01_02_operators.ipynb) to run it locally

---
---
# **Built-in Python Operators**
Python has many types of operators:
-   Arithmetic
-   Relational
-   Assignment
-   Logical
-   Membership
-   Identity
-   Bitwise

---
## **Arithmetic Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| + | **Addition** | 1+2 |
| - | **Subtraction** | 1-2 |
| * | **Multiplication** | 1*2 |
| / | **Division** | 1/2 |
| ** | **Exponentiation** | 1**2 |
| // | **Floor Division** | 1//2 |
| % | **Modulus** | 1%2 |

In [1]:
 print(5+2, 5-2, 5*2, 5/2)

7 3 10 2.5

In [2]:
5**2

25

In [3]:
5//2

2

In [4]:
5%2

1

---
## **Relational Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| < | **Less than** | 1<2 |
| > | **Greater than**| 1>2 |
| <= | **Less than or equal to** | 1<=2 |
| >= | **Greater than or equal to** | 1>=2 |
| == | **Equal to** | 1==2 |
| != | **Not equal to** | 1!=2 |

In [5]:
print(1<2, 1>2, 1<=2, 1>=2, 1==2, 1!=2)

True False True False False True

---
## **Assignment Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| = | **Assign** | i=2 |
| += | **Add and Assign**| i+=2 |
| -= | **Subtract and Assign** | i-=2 |
| /= | **Divide and Assign** | i/=2 |
| *= | **Multiply and Assign** | i*=2 |
| %= | **Modulus and Assign** | i%=2 |
| **= | **Exponent and Assign** | i**=2 |
| //= | **Floor-Divide and Assign** | i//=2 |

In [6]:
i = 5
i

5

In [7]:
i += 2
i

7

In [8]:
i -= 2
i

5

In [9]:
i /= 2
i

2.5

In [10]:
i *= 2
i

5.0

In [11]:
i //= 2
i

2.0

In [12]:
i **= 2
i

4.0

In [13]:
i %= 2
i

0.0

---
## **Logical Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| and | **Logical And** | (bool expr) and (bool expr) |
| or | **Logical Or**| (bool expr) or (bool expr) |
| not | **Logical Not** | not(bool expr) |

In [14]:
print((True and False), (True or False))

False True

In [15]:
print(not(True and False), not(True or False))

True False

---
## **Membership Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| in | **Check if an element is a member within a sequence** | elem in list |
| not in | **Check if an element is not a member within a sequence** | elem not in list |

In [16]:
print(2 in [1, 2], 3 not in [1,2])

True True

---
## **Identity Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| is | **Check for same identity** | var1 is var2 |
| is not | **Check for different identity** | var1 is not var2 |

In [17]:
print(1 is '1', 'two' is "two")

False True

---
## **Bitwise Operators**
| **Operator** | **Action** | **Example** |
|--|--|--|
| & | **Binary AND** | 2&3 |
| \| | **Binary OR** | 2\|3 |
| ^ | **Binary XOR** | 2^3 |
| ~ | **Binary Oneâ€™s Complement** | ~3 |
| << | **Binary Left-Shift** | 2<<2 |
| >> | **Binary Right-Shift** | 3>>1 |

In [18]:
print(2&3, 2|3, 2^3)

2 3 1

In [19]:
print(~3)

-4

In [20]:
print(2<<2, 3>>1)

8 1