**Run this Jupyter Notebook**
- Run this Notebook via [**Google Colab Platform**](https://colab.research.google.com/github/mhmaem/python_university/blob/master/01_python_beginner_interactive_cheatsheets/01_01_types.ipynb)
- Download this [**Notebook**](https://github.com/mhmaem/python_university/blob/master/01_python_beginner_interactive_cheatsheets/01_01_types.ipynb) to run it locally

---
---
# **Built-in Python Types**

In Python are all variables are objects, which means it is a reference to an address in the memory contains the variable value

Python is a dynamic type language, which means:
*   Variables type is decided at runtime
*   Variables can be reassigned at runtime to different types

Python has two main types:
*   **Simple Types**
*   **Compound Type**

Function *type()* is very useful within dealing with the types


---
---
# **Simple Types**

Simple types are Python built-in types which variables characterized with:
*  Usually represent a single unit of a scalar type
*  Immutable, so any modification means a new instance not in place update

---
## **int**

It represents any discrete numerical value

In [1]:
int_value_1 = 1    #it can be assigned to positive integer value
print("Value of int_value_1 is : {} and its type is : {}".format(int_value_1, type(int_value_1)))
print()
int_value_2 = -1    #it can be assigned to negative integer value
print("Value of int_value_2 is : {} and its type is : {}".format(int_value_2, type(int_value_2)))
print()
int_value_3 = 0    #it can be assigned to zero
print("Value of int_value_3 is : {} and its type is : {}".format(int_value_3, type(int_value_3)))
print()
int_value_4 = 987654321098765432109876543210987654321098765432109876543210987654321098765432109876543210    #it can be assigned to huge integer value
print("Value of int_value_4 is : {} and its type is : {}".format(int_value_4, type(int_value_4)))

Value of int_value_1 is : 1 and its type is : <class 'int'>

Value of int_value_2 is : -1 and its type is : <class 'int'>

Value of int_value_3 is : 0 and its type is : <class 'int'>

Value of int_value_4 is : 987654321098765432109876543210987654321098765432109876543210987654321098765432109876543210 and its type is : <class 'int'>

---
## **float**

The floating-point type can store fractional numbers. They can be defined either in standard decimal notation, or in exponential notation:

In [2]:
float_value_1 = 1.0
print("Value of float_value_1 is : {} and its type is : {}".format(float_value_1, type(float_value_1)))

Value of float_value_1 is : 1.0 and its type is : <class 'float'>

In [3]:
float_value_2 = 0.00001
float_value_3 = 1e-5
print(float_value_2 == float_value_3)

True

### Floating-point precision

Rule of thumb, never count on the floats equality

In [4]:
0.1 + 0.2 == 0.3

False

In [5]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

---
## **complex**

Complex numbers are numbers with real and imaginary (floating-point) parts

In [6]:
complex(3, 4)

(3+4j)

In [7]:
3 + 4j

(3+4j)

In [8]:
complex_value_1 = 3 + 4j
complex_value_1.real

3.0

In [9]:
complex_value_1.imag

4.0

In [10]:
complex_value_1.conjugate()

(3-4j)

In [11]:
abs(complex_value_1)

5.0

---
## **str**

Sequence of characters (more about it in the list type)

In [12]:
str_value_1 = "String 1"
str_value_2 = 'String 2'
print(type(str_value_1), type(str_value_2))

<class 'str'> <class 'str'>

In [13]:
print(len(str_value_1), str_value_1.upper(), str_value_1.capitalize())

8 STRING 1 String 1

In [14]:
str_value_1 + str_value_2

'String 1String 2'

In [15]:
3 * str_value_1

'String 1String 1String 1'

In [16]:
str_value_1[0]

'S'

---
## **NoneType**

The bool type can have only one value None

In [17]:
type(None)

NoneType

In [18]:
print(print('abc'))    #print() method does not return anything

abc
None

---
## **bool**

The bool type can have only one of two values True or False

In [19]:
bool_value_1 = (1 < 2)
bool_value_1

True

In [20]:
type(bool_value_1)

bool

In [21]:
print(True, False)

True False

In [22]:
print(bool(10), bool(0.1), bool("ABC"), bool([1, 2, 3]))

True True True True

In [23]:
print(bool(0), bool(None), bool(""), bool([]))

False False False False

---
---
# **Compound Types**

Compound types or structures in Pythons are containers holding multi instances of objects, these objects can be simple types, user defined  types or even other compound types

## **Lists**

Lists in Python are collection of objects that characterized with:
* Ordered, its elements can be accessed through an index
* Mutable, elements can be added, replaced or removed on need
* Able to contain multiple types of objects at the same time

In [24]:
list_type_1 = [1, 2, 3, 4, 5]
type(list_type_1)

list

In [25]:
len(list_type_1)

5

In [26]:
list_type_1.append(6)
list_type_1

[1, 2, 3, 4, 5, 6]

In [27]:
list_type_1 + [0, -1]

[1, 2, 3, 4, 5, 6, 0, -1]

In [28]:
list_type_1    #still unchanged

[1, 2, 3, 4, 5, 6]

In [29]:
list_type_1 = list_type_1 + [0, -1]
list_type_1

[1, 2, 3, 4, 5, 6, 0, -1]

In [30]:
list_type_1.sort()
list_type_1

[-1, 0, 1, 2, 3, 4, 5, 6]

You can find more details [**here**](https://docs.python.org/3/tutorial/datastructures.html)

In [31]:
list_type_2 = [1, -1, 1.0, 'one', True]
list_type_2

[1, -1, 1.0, 'one', True]

### Indexing and Slicing

Indexing and slicing is efficient ways to access and manipulate items within lists

In [32]:
list_type_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_type_3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Indexing is used to access a specific element within the list in a forward or backward way

In [33]:
print(list_type_3[0], list_type_3[3], list_type_3[-1], list_type_3[-3])

1 4 9 7

Slicing is used to access sequence of elements within a list

In [34]:
list_type_3[1:5]

[2, 3, 4, 5]

In [35]:
list_type_3[:5]

[1, 2, 3, 4, 5]

In [36]:
list_type_3[5:]

[6, 7, 8, 9]

In [37]:
list_type_3[-3:]

[7, 8, 9]

In [38]:
list_type_3[:-3]

[1, 2, 3, 4, 5, 6]

In [39]:
list_type_3[::2]

[1, 3, 5, 7, 9]

In [40]:
list_type_3[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
list_type_3[2:5] = [13, 14, 15]
list_type_3

[1, 2, 13, 14, 15, 6, 7, 8, 9]

---
## **Tuples**

Tuples in Python are collection of objects that characterized with:
* Ordered, its elements can be accessed through an index
* Immutable, once created can not be updated
* Able to contain multiple types of objects at the same time

In [42]:
tuple_type_1 = (1, 2, 3, 4, 5)
print(tuple_type_1, type(tuple_type_1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [43]:
tuple_type_2 = (1, 2, 3, 4, 5)
print(tuple_type_2, type(tuple_type_2))

(1, 2, 3, 4, 5) <class 'tuple'>

In [44]:
print(len(tuple_type_1), tuple_type_1[1])

5 2

In [45]:
tuple_type_1[3] = 14

TypeError: 'tuple' object does not support item assignment

Tuple is widely used a return value when functions need to return multiple values

In [46]:
numerator, denominator = 0.125.as_integer_ratio()
print(numerator, denominator, numerator / denominator)

1 8 0.125

---
## **Dictionaries**

Dictionaries in Python are collection of objects that characterized with:
* Not ordered, its elements value can be accessed through keys (key:value pairs model)
* Mutable, elements can be added, replaced or removed on need
* Able to contain multiple types of objects at the same time

In [47]:
dictionary_type_1 = {'one':1, 'two':2, 'three':3}
print(dictionary_type_1['two'], type(dictionary_type_1))

2 <class 'dict'>

In [48]:
dictionary_type_1['four'] = 4
dictionary_type_1

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

---
## **Sets**

Sets in Python are collection of objects that characterized with:
* Not ordered, its elements existence can be checked
* Mutable, elements can be added, replaced or removed on need
* Able to contain multiple types of objects at the same time

In [49]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
print(type(primes), type(odds))

<class 'set'> <class 'set'>

In [50]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [51]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [52]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [53]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

---
---
# **Type Conversion (Casting)**
Conversion between types is very important in all programming languages as most of the time the inputs to the programs are not of the same types as the outputs

Usually type conversion is done by calling the constructor of the target type

In [54]:
print(int(1.0), int(1.1), int('1'), int('5f', 16))

1 1 1 95

In [55]:
print(float(1), float('1.1'), float("-12.34e5"), round(12.345, 2))

1.0 1.1 -1234000.0 12.35

In [56]:
bytes([72,9,64])

b'H\t@'

In [57]:
list("abc")

['a', 'b', 'c']

In [58]:
dict([(3,"three"),(1,"one")])

{3: 'three', 1: 'one'}

In [59]:
set(["one","two"])

{'one', 'two'}

In [60]:
':'.join(['toto','12','pswd'])

'toto:12:pswd'

In [61]:
"1,4,8,2".split(",")

['1', '4', '8', '2']

Type casting needs to be handled carefully as it may yield runtime errors (exceptions)

In [62]:
int('one')

ValueError: invalid literal for int() with base 10: 'one'